$dark-cyan: #009688;
$dark-red: #8b0000;
$light-green: #8bc442;
$light-orange: #f59222;
$bluish: #0a75bb;

html {
    color: #555d50;
}
select {
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; 

    &:focus {
        border: 1px solid #33C3F0;
        outline: 0;
    }
}
.mdl-grid {
    max-width: 1140px;
    margin: 0 auto;
}

#title {
    color: white;
    text-decoration: none;
}
.muted {
    margin: 0;
    color: #666;
}
.current-link {
    color: #36454f !important;
}
a.pointer {
    cursor: pointer;
}
#rule-time-range, #rule-should-decline-all, #rule-alert-on-decline, #rule-spend-limit,
#rule-spend-type {
    margin-top: 13%;
}
#cibil-desc {
    color: #0aa54d;
}
#cibil-score, .highlight {
    color: $bluish;
}
.secondary-highlight {
    color: $dark-cyan;
}
#cibil-expand {
    color: #f59b4d;
}
.no-margin {
    margin: 0;
}
#account-details {
    color: $dark-cyan;
}
#expenses {
    color: $dark-red;
}
#income {
    color: $light-green;
}
#goals {
    color: $light-orange;
}
th {
    color: $dark-cyan;
}
